.LASection {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 600px) {
  .LASection {
    width: 100%;
  }
}
.LeaveForm {padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: auto;
  margin-top: 50px;
  right: 20px;
  color: #052c2c;
  text-align: center;
  margin: auto 80px auto auto;
  border-radius: 2%;
}
@media screen and (max-width: 600px) {
  .LeaveForm {
    width: 100%;
  }
}
.LA-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.LA-input-box input {
  width: 80%;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: #052c2c 1px solid;
  border-radius: 0.5rem;
}
.LA-display-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.LA-display-box div {
  width: 80%;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: #052c2c 1px solid;
  border-radius: 0.5rem;
}
.LA-input-box select {
  width: 80%;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: #052c2c 1px solid;
  border-radius: 0.5rem;
}
.attachment h3 {
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.attachment input {
  width: 200px;
  height: auto;
}
.leaveButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.leaveButton button {
  height: 40px;
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border: 0;
  font-size: 1rem;
}
#leaveapply {
  background-color: #0c4747;
  color: aliceblue;
}
#leavecancel {
  background-color: rgb(194, 74, 30);
  color: aliceblue;
}