.button-profile {
  background-color: #0c4747;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  color: aliceblue;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 5rem;
  width: 20rem;
  text-align: center;
  border: 0;
}
.button-profile:hover {
  opacity: 70%;
  transition-property: opacity;
}
.section-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}