.RegistrationBody {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('../images/loginBackgroundImage.jpg');
  background-size: cover;
  background-position: center bottom;
}

.registersection {
  background-color: aliceblue;
  color: #052c2c;
  width: 400px;
  text-align: center;
  margin: auto 80px auto auto;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .registersection {
    margin: auto;
  }
}
.register-input-box input {
  width: 15rem;
  height: 2rem;
}
.register-input-box select {
  width: 15rem;
  height: 2rem;
}
.register button {
  width: 15rem;
  border: none;
  height: 2rem;
  background-color: rgb(20, 183, 212);
}