.RegistrationBody {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('../images/loginBackgroundImage.jpg');
  background-size: cover;
  background-position: center bottom;
}
.RegistrationForm {
  max-width: 700px;
  width: 100%;
  background-color: aliceblue;
  padding: 25px 30px;
  border-radius: 5px;
}
.RegistrationBody .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.RegistrationBody .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background: linear-gradient(to right, #ff105f, #ffad06);
}
.RegistrationBody .user-details {
  display: flex;
  flex-wrap: wrap;
}
.RegistrationBody .user-details .input-box {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.RegistrationBody .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}